body{
    margin: 0%;
    margin-top: -4; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    
}

.fundo{
    background-color: rgb(24, 24, 107);
}
.div1{
    display: Flex;
}

.div2{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.div3{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4.8%;
}

.nome{
    width: 100%;
    height: auto;
    /*background-color: aqua;*/
    text-align: left;
    margin-left: 5%
}

.dadospessoais{
    text-align: right;
    width: 100%;
    height: auto;
    /*background-color: rgb(207, 44, 253);*/
    margin-right: 2.5%;
}

.dadospessoais h2{
    margin-top: 0%;
}
.dadospessoais h3{
    margin-bottom: 0%;
}


.nome h2{
    text-align: left;
}


.objetivo{
    /*background-color: darkturquoise;*/
    width: 100%;
    height: auto;
    margin-left: 5%;
}

.objetivo h2{
margin-bottom: 1%;
margin-left: 1.5%;
}

.formacaoacademica h2{
margin-bottom: 1%;
margin-left: 1.5%;
}
    
.historicoprofissional h2{
margin-bottom: 1%;
margin-left: 1.5%;
}

.principaiscursostreinamentos h2{
margin-bottom: 1%;
margin-left: 1.5%;
}

.resumoqualificacaoprofissional h2{
margin-bottom: 1%;
margin-left: 1.5%;
}

.informacoesadicionais h2{
margin-bottom: 1%;
margin-left: 1.5%;
}

.objetivo h3{
    margin-bottom: 1%;
    margin-left: 1.5%;
    }
    
    .formacaoacademica h3{
    margin-bottom: 1%;
    margin-left: 1.5%;
    }
        
    .historicoprofissional h3{
    margin-bottom: 1%;
    margin-left: 1.5%;
    }
    
    .principaiscursostreinamentos h3{
    margin-bottom: 1%;
    margin-left: 1.5%;
    }
    
    .resumoqualificacaoprofissional h3 li{
    margin-bottom: 1%;
    margin-left: -4.5px;

    }

    .principaiscursostreinamentos h3 li{
        margin-bottom: 1%;
        margin-left: 4.5px;
    
        }
        ::marker li{
            margin: 0%;
        }
        
    
    .informacoesadicionais h3{
    margin-bottom: 1%;
    margin-left: 1.5%;
    }



.formacaoacademica{
    /*background-color: rgb(251, 212, 20);*/
    width: 100%;
    height: auto;
    margin-left: 5%

}

.resumoqualificacaoprofissional{
    /*background-color: rgb(240, 20, 0);*/
    width:100%;
    height: auto;
    margin-left: 5%
}

.historicoprofissional{
    /*background-color: rgb(209, 12, 235);*/
    width: 100%;
    height: auto;
    margin-left: 5%
}

.principaiscursostreinamentos{
    /*background-color: rgb(165, 54, 115);*/
    width: 100%;
    height: auto;
    margin-left: 5%
}

.informacoesadicionais{
    /*background-color: yellow;*/
    width: 100%;
    height: auto;
    margin-left: 5%
}

.espaco{
    /*background-color: darkgray;*/
    width: 50%;
    height: auto;
    margin-left: 5%;
    padding-right: 0%;
}

.GIGA{
    display: flex;
    column-gap: 2%;
}

.linha{
    margin-right: 1%;
    margin-left: 0.5%;
    
}

.image img{
 border-radius: 50%;
 width: 25%;
 height: 25%;
 margin-left: 15%;
 
}

hr{
    margin-right: 20%;
    height: 2px;
    background-color: rgb(0, 255, 251);
}

